html {
    font-size: 18px;
    font-family: 'Times New Roman', sans-serif;
  }

  h1 {
    font-size: 40px;
    font-family: 'Lucida Console', monospace;
    text-align: center;
  }

  h2 {
    font-size: 23px;
    font-family: 'Andalé Mono', serif;
    text-align: center;
  }

  p, li{
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.5px;
  }

  html {
    background-color: #c8334e;
  }

  body {
    width: 800px;
    margin: 0 auto;
    background-color: #bcb16a;
    padding: 0 20px 20px 20px;
    border: 3.5px solid black;
  }
  
  img {
    display: block;
    margin: 0 auto;

  }
